<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <th:block th:replace="~{fragments/menu::menuFragment}"></th:block>

<!--    <a th:href="@{/}" style="text-decoration-line: none; color: gray;">Home | </a>-->
<!--    <a th:href="@{/mav}" style="text-decoration-line: none; color: gray;">ModelAndView | </a>-->
<!--    <a th:href="@{/t_Table}" style="text-decoration-line: none; color: gray;">Time_Table | </a>-->
<!--    <a th:href="@{/score}" style="text-decoration-line: none; color: gray;">Score | </a>-->
<!--    <a th:href="@{/login}" style="text-decoration-line: none; color: gray;">Login | </a>-->
<!--    <a th:href="@{/Memo}" style="text-decoration-line: none; color: gray;">Memo | </a>-->
</body>
</html>